# Title 1 

Spawning stock biomass 

# Caption 1 

Spawning stock biomass. 
            Estimates from the current run and point wise 95% confidence 
            intervals are shown by line and shaded area. 

# Title 2 

Average fishing mortality 

# Caption 2 

Average fishing mortality for the shown age range. 
            Estimates from the current run and point wise 95% confidence 
            intervals are shown by line and shaded area. 

# Title 3 

Recruitment 

# Caption 3 

Yearly resruitment. 
        Estimates from the current run and point wise 95% confidence 
        intervals are shown by line and shaded area. 

# Title 4 

Catch 

# Caption 4 

Total catch in weight. 
        Prediction from the current run and point wise 95% confidence 
        intervals are shown by line and shaded area. The yearly
        observed total catch weight (crosses) are calculated as Cy=sum(WayCay). 

# Title 5 

Spawner-resruits 

# Caption 5 

Estimated recruitment as a function of spawning stock biomass. 

# Title 6 

Yield per Recruit 

# Caption 6 

Yield per recruit (solid line) and spawning stock biomass plotted against different levels of fishing 

# Title 7 

Fit to data 

# Caption 7 

Predicted line and observed points (log scale) 

# Title 8 

Fit to data 

# Caption 8 

Predicted line and observed points (log scale) 

# Title 9 

Fit to data 

# Caption 9 

Predicted line and observed points (log scale) 

# Title 10 

One-observation-ahead residuals 

# Caption 10 

Standardized one-observation-ahead residuals. 

# Title 11 

Process residuals 

# Caption 11 

Standardized single-joint-sample residuals of process increments 

